$primary: #FF8484;
$success: #7BAE73;

$white: #FFF;
$gray-50: #EEEEEE;
$gray-100: #E5E5E5;
$gray-200: #B4B4B4;
$gray-500: #49485E;
$gray-600: #3F3F3F;

$shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
$shadow-active: 0 2px 5px rgba($primary, 0.5);

$shadow-big: 0 20px 30px rgba(0, 0, 0, 0.04), 0 6px 10px rgba(0, 0, 0, 0.02);