.button {
  width: 100%;
  padding: 16px 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  border: 0;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
  cursor: pointer;

  &.button_success:not(:disabled) {
    color: $white;
    background: $success;

    &:hover {
      background: lighten($success, 5);
    }
    &:active {
      background: darken($success, 5);
    }
  }

  &:disabled {
    background: $gray-50;
    color: $gray-200;
    cursor: default;
  }
}