.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  &.grid_4 {
    grid-template-columns: repeat(4, 1fr);
  }
  @for $i from 1 through 8 {
    &.grid_gap-x-#{$i} {
      grid-row-gap: #{$i * 0.25}rem;
    }
    &.grid_gap-y-#{$i} {
      grid-column-gap: #{$i * 0.25}rem;
    }
  }
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 992px) {
  .grid {
    grid-template-columns: 1fr;
  }
}